*, *::before, **::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    border: 3px solid salmon;
    width: 80%;
    padding: 1rem;
}

main{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid salmon;
    width: 35%;
    margin-inline: auto;
    gap: 1rem;
    padding: 3rem 0;
}
form input{
    padding: 15px;
    border-radius: 5px;
}

form button{
    margin-top: 2rem;
    padding: .5rem 2rem;
}
.agenda{
    border: 3px solid salmon;
    margin: 1rem auto;
    width: 55%;
    min-width: 500px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

.contacto{
    border: 3px solid rgb(233, 182, 87);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-evenly;
    margin: 1rem;
    position: relative;
}
.contacto>span, .contacto>h3{
    width: 33.3%;
    text-align: center;
    font-size: 1rem;
    white-space: nowrap;
}

.contacto button{
    position: absolute;
    top: -2rem;
    padding: .5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: none;
    cursor: pointer;
}

.contacto:hover > button{
    display: inline-block;
}

.edit-btn{
    left: 15%;
    background-color: rgba(88, 88, 219, 0.652);
}

.delete-btn{
    right: 15%;
    background-color: rgba(221, 70, 70, 0.655);
}


.pop-up-edit{
    position: absolute;
    background-color: rgba(67, 59, 59, 0.467);
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
}

.pop-up-edit>form{
    background-color: rgb(230, 230, 230);
}
.pop-up-edit>form>label{
    display: flex;
    flex-direction: column;
}
.pop-up-edit button{
    cursor: pointer;
}

.closed {
    display: none;
}