*{
    /* reset css */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* NIDADES DE PANTALLA

vh ---- viewport height
vw ----- viewport width
*/
html{
 text-align: center;   
 background: linear-gradient(rgba(47, 45, 45, 0.843) 0%, rgb(0, 0, 0) 70%);
 min-height: 100vh;
}

div {
    background-color: black;
    color: white;
    width: 95%;
    max-width: 450px;
    margin: auto;
    margin-top: 50px;
    padding: 70px;
    /* FALLBACK DE FUENTES
    fallback --- si lo primero no anda, segui con lo segundo
    */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form{
    width: 100%;
    text-align: left;
}
label{
    margin-right: auto;
    min-width: 100%;
    font-size: 14px;
    font-weight: 700;
}
input{
    width: 100%;
    background-color: #121212;
    border: 1px solid #a7a7a7;
    margin-top: 10px;
    height: 30px;
    border-radius: 2px;
    padding: 15px;
    color: white;
    /* cubic heizer curve */
    transition: border .3s ease-in-out;
}
input:hover{
    border: 1px solid #ffffff;
}

.logInButton{
    background-color: #1ed760;
    width: 100%;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
}
.logInButton:hover{
    transform: scale(1.05);
}
.center {
    text-align: center;
}
hr{
    margin: 20px;
    border-color: #a7a7a7;
}

span{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
span:hover{
    color: #1ed760;
}
p{
    margin-top: 40px;
    color: #a7a7a7;
}
p>span{
    text-decoration: none;
    color: white;
    display: inline;
}
p>span:hover{
    text-decoration: underline;
    color: white;
    cursor: text;
}



